################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/_save
/.vs
/.github/MinifyVersionPublishToDist/obj
/.github/MinifyVersionPublishToDist/.vs/MinifyVersionPublishToDist
/.github/MinifyVersionPublishToDist/bin/Debug/net6.0
